.BackDisplayPokemon{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;


    .DisplayCard{
        width: 90vw;
        height: auto;
        background-color: blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}