.FlexCard{
    display: flex;
    flex-wrap: nowrap;

    .BackCard{
        width: 10vw;
        height: 20vh;
        background-color: red;
        border: 2px solid black;
        margin: 2px;
    }
}
